*{
  margin: 0 auto;
  padding: 0;
}

#slogan-wrapper{
  width:100%;
  height: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.slogan{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan > h1{
  font-size:30px;
}

.slogan > p{
  font-size: 20px;
  text-align: center;
}

#info-wrapper{
  width:100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works h1{
  font-size:30px;
}

.works p{
  font-size: 20px;
  text-align: center;
}

.service{
  width:100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-list{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}

.card-wrapper{
  margin-left:20px;
}

.card-wrapper:first-child{
  margin-left:0px;
}